{{- /* Prefer shared params.social URLs; fall back to classic Nix ID params. */ -}}
{{- with .Site.Params.social.github -}}
<a href="{{ . }}" rel="me" title="GitHub"><i class="fab fa-github fa-3x" aria-hidden="true"></i></a>
{{- else with .Site.Params.GithubID -}}
<a href="https://github.com/{{ . }}" rel="me" title="GitHub"><i class="fab fa-github fa-3x" aria-hidden="true"></i></a>
{{- end -}}
{{- with .Site.Params.social.twitter -}}
<a href="{{ . }}" rel="me" title="X"><i class="fab fa-twitter fa-3x" aria-hidden="true"></i></a>
{{- else with .Site.Params.TwitterID -}}
<a href="https://twitter.com/{{ . }}" rel="me" title="Twitter"><i class="fab fa-twitter fa-3x" aria-hidden="true"></i></a>
{{- end -}}
{{- with .Site.Params.social.linkedin -}}
<a href="{{ . }}" rel="me" title="LinkedIn"><i class="fab fa-linkedin fa-3x" aria-hidden="true"></i></a>
{{- else with .Site.Params.LinkedInID -}}
<a href="https://linkedin.com/in/{{ . }}" rel="me" title="LinkedIn"><i class="fab fa-linkedin fa-3x" aria-hidden="true"></i></a>
{{- end -}}
{{- with .Site.Params.social.instagram -}}
<a href="{{ . }}" rel="me" title="Instagram"><i class="fab fa-instagram fa-3x" aria-hidden="true"></i></a>
{{- else with .Site.Params.InstagramID -}}
<a href="https://instagram.com/{{ . }}" rel="me" title="Instagram"><i class="fab fa-instagram fa-3x" aria-hidden="true"></i></a>
{{- end -}}
{{- with .Site.Params.GitlabId -}}
<a href="https://gitlab.com/{{ . }}" rel="me" title="GitLab"><i class="fab fa-gitlab fa-3x" aria-hidden="true"></i></a>
{{- end -}}
{{- with .Site.Params.MastodonURL -}}
<a href="{{ . }}" rel="me" title="Mastodon"><i class="fab fa-mastodon fa-3x" aria-hidden="true"></i></a>
{{- end -}}
{{- with .Site.Params.Email -}}
<a href="mailto:{{ . }}" title="Email"><i class="fas fa-envelope fa-3x" aria-hidden="true"></i></a>
{{- end -}}
{{- with .Site.Params.CvURL -}}
<a href="{{ . }}" title="Curriculum Vitae"><i class="fas fa-file-alt fa-3x" aria-hidden="true"></i></a>
{{- end -}}
<a href="{{ "atom.xml" | relURL }}" title="RSS"><i class="fa fa-rss fa-3x" aria-hidden="true"></i></a>
